:root {
  /* --blackbg: #202023; #161618  #0d1117*/
  --blackbg: #0d1117;
  --secundary: #1c2833;
  --purple: #218ffe;
  --cyan: #0dcaf0;
  --textColor: white;
  --green: greenyellow;
}

body {
  color: var(--textColor);
}

header {
  width: 105%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 17px;
}
